nav{
  padding-top: 2%;
  padding-bottom: 2%;
}
nav div{
  display: inline-block;
  vertical-align: middle;
}
nav div:first-child{
  width: 30%;

}
nav div:last-child{
  width: 70%;
  text-align: right;

}
nav div:last-child a{
  margin:2.5%;
}
.container{
  margin-left: 8%;
  margin-right: 8%;
}
nav div:last-child a:first-child{
  display: none;
}
